@import "./normalize.css";
/* :root -> 获取根元素html */
:root{
    /*  --color-text:#666; 提前定义变量  后面可以引用  如:color: var(--color-text); */
    /* --color-text:#666;
    --color-high-text:#ff5777;
    --color-tint:#ff8198;
    
    --color-nav-background:#ff8198;
    --color-f:#fff; */

    --app-theme-background-color:#fff;
    --app-theme-color:#409EFF;
    --font-size: 14px;
    --line-height:1.5;
}
*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Helvetica Neue",Helvetica, "PingFang SC","Hiragino Sans GB","MicrosoftYaHei","微软雅黑",Arial, sans-serif;
    user-select: none;/*禁止用户鼠标在页面上选中文字和图片等  */
    -webkit-tap-highlight-color: transparent;
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;
}
a{
    color: var(--color-text);
    text-decoration: none;
}
.clear-fix::after{
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}
.clear-fix{
    zoom: 1;
}
.left{
    float: none;
}
.right{
    float: right;
}